body {
	background: #fff;
	margin: 0;
	padding: 0;
	font-family: Helvetica, Arial, sans-serif;
	color: #000;
	min-height: 420px;
	background: url(../images/back.png) repeat;	
}

div.mpi {
	margin-top:20px;
	width:100%;

}

div.mpi img{
	margin:0px auto;
	display:block;
}


div.menu{
	height:60px;
	max-width:480px;
	position:relative;
}

div.menu .group{
	height:30px;
	width:150px;
	margin-left:80px;
	margin-top:15px;
	margin-bottom:25px;
	
}

div.menu .group1{
	height:30px;
	
	margin-left:20px;
	margin-top:15px;
	margin-bottom:25px;
	
}
div.group .label {
	font-size: 24px;
	font-weight: bold;
	color: #FFFF00;
}

div.group1 .label {
	font-size: 1em;
	width:75px;
	
	font-weight: bold;
	color: #FFFF00;
	
	
}

div.group1 span.label {
	
	display:inline;
	float:left;
}

div.menu .group select{
	text-align:center;
	width:80%;
	height:100%;
	
	
}



div.toolbar {
	background-image:url('../iphone/iphone_top_bg.png');
	height:47px;
	width:100%;
}

div.toolbar div{
	float:left;
}
div.toolbar div.mbug{
	width:1%;
};

div.toolbar div.back{
	width:29%;
};
.mspace{}
.mline{
	height:12px;
	background-image:url('../images/line.png');
}

.toolbar .tt {
	width:41%;
	margin: 10px 10px;
	text-align:center;
	vertical-align:middle;
};
.m{}
div.logo{
	height:90px;
	background:url('../images/top.png') no-repeat;
}


	

div.menuitem{
	height:80px;
	
	position:relative;
}

div.menuitem .title {
	float:left;
	padding-left: 100px;
	padding-top: 15px;
}
div.menuitem .title h2 {
	height:50%;
	margin-bottom:0px;
}

div.menuitem .title h4 {
	height:50%;
	margin:0px;
	font-size:80%;
}

div.menuitem .icon{
	position:absolute;
	left:15px;
	top:8px;
}

div.txtitem {
	height: 32px;
	padding-left: 20px;
	width:100%;
	margin-top:5px;
}

div.txtitem .label{
	width:20%;
	height:100%;
	display:block;
	float:left;
	text-align:right;
}

div.txtitem .val{
	width:80%;
	padding-left:10px;
	
}

div.txtitem .val select{
	width:180px;
	font-size:1.2em;
	text-align:center;
}
div.txtitem .val input{
	width:180px;
	font-size:1.2em;
	text-align:center;
}

div.txtitem .val textarea{
	width:180px;
}

div.list h4{
	width:100%;
	text-align:center;
	margin:0px;
	padding:0px;
}

div.list ul, div.list li{
	width:100%;
	margin:0px;
	padding:0px;
}
div.list li{
	border-top:1px solid #CBCBCB;
	border-bottom:1px solid #CBCBCB;
}
div.list li span.orderid, div.list li span.orderdate{
	width:50%;
	text-align:center;
	display:block;
	float:left;
}

.style1{
width: 800px;
height: 100px;
margin: 0px auto;
margin-bottom:20px;
border:1px solid #96C2F1;
background-color: #EFF7FF;
}

.style2{
width: 800px;
height: 100px;
margin: 0px auto;
margin-bottom:20px;
border:1px solid #9BDF70;
background-color: #F0FBEB;
}

.style3{
width: 800px;
height: 100px;
margin: 0px auto;
margin-bottom:20px;
border:1px solid #BBE1F1;
background-color: #EEFAFF;
}

.style4{
width: 800px;
height: 100px;
margin: 0px auto;
margin-bottom:20px;
border:1px solid #CCEFF5;
background-color: #FAFCFD;
}

.style5{
width: 800px;
height: 100px;
margin: 0px auto;
margin-bottom:20px;
border:1px solid #FFCC00;
background-color: #FFFFF7;
}

.style6{
width: 800px;
height: 100px;
margin: 0px auto;
margin-bottom:20px;
border:1px solid #92B0DD;
background-color: #FFFFFf;
}
.style6 h5{
margin: 1px;
background-color: #E2EAF8;
height: 24px;
}

.style7{
width: 800px;
height: 100px;
margin: 0px auto;
margin-bottom:20px;
border:1px solid #A9C9E2;
background-color: #E8F5FE;
}

.style8{
width: 800px;
height: 100px;
margin: 0px auto;
margin-bottom:20px;
border:1px solid #E3E197;
background-color: #FFFFDD;
}

.style9{
width: 800px;
height: 100px;
margin: 0px auto;
margin-bottom:20px;
border:1px solid #ADCD3C;
background-color: #F2FDDB;
}

.style10{
width: 800px;
height: 100px;
margin: 0px auto;
margin-bottom:20px;
border:1px solid #F8B3D0;
background-color: #FFF5FA;
}

.style11{
width: 800px;
height: 100px;
margin: 0px auto;
margin-bottom:20px;
border:1px solid #D3D3D3;
background-color: #F7F7F7;
}

.style12{
width: 800px;
height: 100px;
margin: 0px auto;
margin-bottom:20px;
border:1px solid #BFD1EB;
background-color: #F3FAFF;
}

.style13{
width: 800px;
height: 100px;
margin: 0px auto;
margin-bottom:20px;
border:1px solid #FFDD99;
background-color: #FFF9ED;
} 

.style14{
width: 800px;
height: 100px;
margin: 0px auto;
margin-bottom:20px;
border:1px solid #CACAFF;
background-color: #F7F7FF;
} 

.style15{
width: 800px;
height: 100px;
margin: 0px auto;
margin-bottom:20px;
border:1px solid #A5B6C8;
background-color: #EEF3F7;
}
.style16{
width: 800px;
height: 100px;
margin: 0px auto;
margin-bottom:20px;
border:1px solid #CEE3E9;
background-color: #F1F7F9;
}
tr td{
	font-size: 0.8em;
	border:1px solid grey;
}
body div font {
	font-size: 36px;
	color: #0FC;
	font-weight: bold;
}



.group1 p .label input {
	width: 75px;
}
